#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-navbar__items a {
  font-size: 16px;
}
#header1-2 H1 {
  text-align: center;
}
#header1-2 P {
  text-align: center;
}
#content5-b .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-b .mbr-article {
  color: #fff;
}
#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
}
#features1-3 .mbr-section__col .mbr-header__text {
  font-size: 22px;
  color: #ffffff;
  text-align: center;
}
#features1-3 P {
  color: #ffffff;
  text-align: center;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #fff;
}
#social-buttons2-g .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#form1-f .mbr-header__text {
  color: #ffffff;
}
#content5-a .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-a .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-a .mbr-article {
  color: #fff;
}
